*~
*.[0-9]
*.sqlite3
standoff-*.tar

# Info files
standoff-de.info
standoff-de.pdf
standoff-de
standoff-praktikum.pdf
standoff-praktikum
version.texi
*.aux
*.cp
*.dvi
*.fn
*.ky
*.log
*.pg
*.tmp
*.toc
*.tp
*.vr
